<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="static/styles.css" async>
    <title>Voting Result</title>
    <script src="static/components.js"></script>
    <!-- Jquery -->
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
</head>
    <meta charset="UTF-8">
    <title>Resultat</title>
<body>
    TODO

</body>
</html>